:root {
  --primary-orange: #e65100;
  --background-grey: #333333;
  --joy-palette-danger-softColor: #F7C5C5;
  --joy-palette-danger-200: #f7c5c5;
  --joy-palette-danger-700: #7D1212;
}

.btn.btn-primary {
  border-radius: 0;
}

.textfield {
  color: var(--primary-orange) !important;
}

.textfield__label {
  color: var(--primary-orange) !important;
}

.textfield .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-orange) !important;
}

.primaryOrange_button {
  color: white !important;
  background-color: var(--primary-orange) !important;
}

.rs-input-group.rs-input-group-md.rs-input-group-inside {
  border: 2px solid var(--primary-orange) !important;
  width: 100% !important;
  background-color: #333333;
}

.rs-date-range-input.rs-input {
  width: 100% !important;
  background-color: #333333;
}

.rs-input-group-addon {
  background-color: #333333;
}

.guestLayout {
  position: relative;
  padding: 0 0 1vh 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(to bottom right, var(--primary-orange) 50%, var(--background-grey) 50%);
}

.background-image {
  position: absolute;
  width: 30em;
  height: 30em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-image: url('./assets/logo2.jpeg');
  background-repeat: no-repeat;
  /* z-index: -1; */
}