:root {
  --primary-orange: #e65100;
  --background-grey: #333333;
  --joy-palette-danger-softColor: #F7C5C5;
  --joy-palette-danger-200: #F7C5C5;
  --joy-palette-danger-700: #7D1212;
}

.btn.btn-primary {
  border-radius: 0;
}

.textfield {
  color: var(--primary-orange) !important;
}

.textfield__label {
  color: var(--primary-orange) !important;
}

.textfield .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-orange) !important;
}

.primaryOrange_button {
  color: white !important;
  background-color: var(--primary-orange) !important;
}

.guestLayout {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-y: scroll;
  background: linear-gradient(to bottom right, var(--primary-orange) 50%, var(--background-grey) 50%);
}

.background-image {
  position: absolute;
  width: 30em;
  height: 30em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-image: url('./assets/logo2.jpeg');
  background-repeat: no-repeat;
  /* z-index: -1; */
}